.w{
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float:left
}
.fr{
    float: right;
}
/*-----------------------header部分开始------------------------*/
/*---------------header上开始---------------*/
.header .h_top{
    height: 40px;
    background-color: #32373e;
}

.header .h_top .topCon .conLeft .leftTxt1 .logo{
    color: #00b38a;
    line-height: 40px;
    font-size:22px;
}

.header .h_top .topCon .conLeft .leftTxt1 .city{
    color: #00b38a;
    margin-left: 30px;
    font-size: 12px;
}

.header .h_top .topCon .conLeft .leftTxt1 .city1{
    color:#afb5c0;
    margin-left: 12px;
    font-size: 12px;
}

.header .h_top .topCon .conLeft .rightTxt2 ul{
    margin-left: 35px;
}


.header .h_top .topCon .conLeft .rightTxt2 li{
    float: left;
    height: 40px;
    width: 70px;
    text-align: center;
    line-height: 40px;

}
.header .h_top .topCon .conLeft .rightTxt2 li a{
    display: inline-block;
    color: #afb5c0;


}
.header .h_top .topCon .conLeft .rightTxt2 li:hover{
    color: #ffffff;
    background-color: #24282c;
}


.header .h_top .topCon .conRight li{
    float:left;
    height: 40px;
    line-height: 40px;

}

.header .h_top .topCon .conRight li ,a{
    color: #93b5c0;
    font-size: 12px;
}

.header .h_top .topCon .conRight li:nth-of-type(1) a::before{
    content: "\e773";
    font-family: 'iconfont';
    font-size: 1.5em;
    margin-right:5px;
}
.header .h_top .topCon .conRight li:nth-of-type(4) a::before{
    content: "\e604";
    font-family: 'iconfont';
    font-size: 1.5em;
}

.header .h_top .topCon .conRight li:nth-of-type(1){
    margin-right: 12px;
    line-height: 37px;
}

.header .h_top .topCon .conRight li:nth-of-type(2){
    margin-right: 12px;
}
.header .h_top .topCon .conRight li:nth-of-type(3){
    margin-right: 35px;
}
.header .h_top .topCon .conRight li:nth-of-type(4){
    margin-right: 25px;
}
.header .h_top .topCon .conRight li:nth-of-type(4) a{
    color:#00c295;
}

/*---------------header上结束---------------*/
/*---------------header下开始---------------*/
.header .h_bottom{
    background-color: #00b38a;
    height: 120px;
}

.header .h_bottom .botCon .conLeft{
    position: relative;
}


.header .h_bottom .botCon .conLeft .imgBox img{
    position: absolute;
    width: 215px;
    height: 120px;


}
.header .h_bottom .botCon .conLeft .txtBox{
    position: absolute;
    top:33px;
    left: 230px;
}

.header .h_bottom .botCon .conLeft .txtBox img{
    width: 343px;
    height: 35px;
}
.header .h_bottom .botCon .conLeft .txtBox p{
    color:white;
    font-size: 12px;
    margin-top: 15px;
}
.header .h_bottom .botCon .conRight>input[type=search] {
    width: 165px;
    height: 37px;
    margin-top: 44px;
    margin-left: 27px;
    text-indent: 10px;
}
.header .h_bottom .botCon .conRight p{
    display: inline-block;
    width: 165px;
    height: 37px;
    margin-top: 44px;
    margin-left: 27px;
    background-color: white;
}
.header .h_bottom .botCon .conRight p input[type=search]{
    width: 93px;
    height: 37px;
    text-indent: 10px;
}

.header .h_bottom .botCon .conRight input[type=button] {
    width: 110px;
    height: 37px;
    margin-left: 10px;
    background-color: #00b38a;
    color: white;
    border: 1px solid white;
}
.header .h_bottom .botCon .conRight p a{
    color:#00b38a;
    font-size:12px ;
}
/*---------------header下结束---------------*/


/*-----------------------header部分结束------------------------*/

.search{
    height: 134px;
    background-color: #f2f5f4;
}
.search_w{
    overflow: hidden;
}

/*-----------------------search部分开始------------------------*/

/*---------------search上开始---------------*/
.search .search_top{
    width: 938px;
    height: 46px;
    margin:30px auto 0;
    overflow: hidden;

}
.search .search_top input[type=search]{
    width: 795px;
    height: 53px;
    margin-top: -9px;
    border: 1px solid #e8e8e8;
    font-size: 12px;
    color: #757575;
    text-indent: 12px;
    padding-top: 4px;
}
.search .search_top input[type=button]{
    width: 143px;
    height: 44px;
    background-color: #00b38a;
    color: white;
    font-size: 16px;
    margin-left: 0;
    font-weight: bold;
    line-height: 44px;

}

/*---------------search上结束---------------*/

/*---------------search下开始---------------*/
.search_w .search_bottom{
    margin: 10px 135px;

}
.search_w .search_bottom ul li{
    float: left;
    font-size: 14px;
    margin-right: 18px;

}
.search_w .search_bottom ul li a{
    font-size: 14px;
    color: #00b38a;
}
/*---------------search下结束---------------*/

/*-----------------------search部分结束------------------------*/
/*-----------------------navigation开始------------------------*/
.navigation_bar{
    height: 390px;
    width: 1200px;
}
/*---------------navigation左开始---------------*/
.navigation_bar .nav_left ul{
    width: 305px;
    margin-top: 45px;
}
.navigation_bar .nav_left ul li{
    margin-bottom: 25px;

}
.navigation_bar .nav_left ul li::after{
    content: "\e743";
    font-family: "iconfont";
    float:right;
    margin-top: 4px;
}
.navigation_bar .nav_left ul li span{
    margin-right: 15px;
}
.navigation_bar .nav_left ul li a{
    color:black;
}
/*---------------navigation左结束---------------*/
/*---------------navigation右开始---------------*/
.navigation_bar .nav_right{
    margin-top: 45px;

}
.navigation_bar .nav_right img{
    width: 842px;
    height: 352px;
}
/*---------------navigation右结束---------------*/
/*-----------------------navigation结束-----------------------*/

